<div>
    <h1>{{title}}</h1>
</div>
<div class="black-banner">

</div>
<ng-container *ngFor="let faq of faqsList; let i = index">
    <div class="accordion-item flex-row-container" (click)="togglePanel(faq)" [ngClass]="{'activeHeader': faq.showPanel}">
        <div class="queston-no"><strong>Q{{i+1}}</strong></div>
        <div class="question">
            <h3>{{faq.question}}</h3>
        </div>
        <div class="accordian-icon-div">
            <div>
                <svg class="svg-rotate__icon" width="30px" height="30px" viewBox="0 0 357 357"
                    [ngClass]="{'panelOpen': faq.showPanel, 'panelClose': !faq.showPanel}">
                    <g id="add">
                        <path d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z" />
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <div class="panel" [@slideInOut] *ngIf="faq.showPanel">
        <p>{{faq.answer}}</p>
    </div>
</ng-container>